body {
	background: #303030;
	color: orange;
	font-size: 16px;
	line-height: 20px;
	padding-left: 40px;
	padding-bottom: 60px;
	font-family: helvetica;
}

h1 {
	font-size: 100px;
	line-height: 120px;
	padding: 0;
}

.container {
	margin-left: 120px;
}

a {
	color: orange;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}