body {
	margin: 0 auto;
	font-family: 'Raleway', sans-serif;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding-top: 0px;
	padding-bottom: 20px;
}

.inner-header {
	width: 940px;
	margin: 0 auto;
	margin-bottom: 0;
}

.title {
	float: left;
	width: 940px;
	height: 79px;
	margin: 0px auto;
	padding-top: 10px;
	padding-bottom: 20px;
}

.blah {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 50px;
	padding-bottom: 10px;
}

.links {
	display: inline-block;
	vertical-align: bottom;
	font-size: 12px;
	padding: 5px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header a {
	color: white;
	text-decoration: none;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

a {
	color: white;
	text-decoration: none;
}

.links:hover, header a:hover {
	background: white;
	color: black;
}

/*header a:hover {
	color: black;
}*/

footer a:hover {
	text-decoration: underline;
}

header {
	background: black;
	width: 100%;
	margin: 0 auto;
	color: white;
	padding-top: 20px;
	font-size: 22px;
	line-height: 36px;
	font-family: helvetica, sans-serif;
	letter-spacing: 4px;
	font-weight: 600;
}

/*.overall-container {
	position: relative;
	border: solid blue 1px;
}*/

h1 {
	font-family: georgia, serif;
	color: #9B7C39;
	font-size: 23px;
	border-bottom: 2px solid black;
	padding-bottom: 15px;
	padding-top: 0;
	height: 23px;
}

h2 {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
	border-bottom: 1px solid lightgray;
	padding-bottom: 10px;
	font-weight: 800;
}

p, .initialp {
	font-family: georgia, serif;
	font-size: 14px;
	line-height: 20px;
	color: #242424;
}

footer {
	padding-bottom: 20px;
	color: white;
	background: black;
	width: 100%;
/*	position: absolute;
	bottom: 0;*/
}

.inner-footer {
	width: 940px;
	margin: 0 auto;
	padding-top: 15px;
}

.inner-footer p {
	color:white;
}

