body {
	margin: 0;
	background: #161616;
	color: white;
}

.large-container img {
	position: fixed;
	display: inline-block;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: -1;
	max-width: 35%;
}

.title {
	position: fixed;
	margin: 20px;
	width: 400px;
}

h1 {
	display: block;
	position: fixed;
	font-size: 70px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	text-transform: uppercase;
	color: white;
	letter-spacing: 2px;
}

h2 {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	letter-spacing: 2px;
	color: white;
	padding-left: 7px;
}

.container {
	margin-left: 40%;
	max-width: 500px;
	padding-top: 130px;
}

p {
	font-family: 'Roboto Slab', Helvetica, sans-serif;
	line-height: 1.75em;
	font-weight: 200;
}

h3 {
	z-index: 2;
	font-family: 'Open Sans', sans-serif;
	position: fixed;
	bottom: 50px;
	padding-left: 7px;
	letter-spacing: 2px;
	font-size: 15px;
}

a {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}